language: php

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6

env:
    - WP_VERSION=3.7.8 WP_MULTISITE=0
    - WP_VERSION=3.7.8 WP_MULTISITE=1
    - WP_VERSION=3.8.8 WP_MULTISITE=0
    - WP_VERSION=3.8.8 WP_MULTISITE=1
    - WP_VERSION=3.9.6 WP_MULTISITE=0
    - WP_VERSION=3.9.6 WP_MULTISITE=1
    - WP_VERSION=4.0.5 WP_MULTISITE=0
    - WP_VERSION=4.0.5 WP_MULTISITE=1
    - WP_VERSION=4.1.5 WP_MULTISITE=0
    - WP_VERSION=4.1.5 WP_MULTISITE=1
    - WP_VERSION=4.2.2 WP_MULTISITE=0
    - WP_VERSION=4.2.2 WP_MULTISITE=1

before_install:
    - git submodule update --init --recursive

before_script:
    - bash tests/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: phpunit

notifications:
    email:
        recipients:
          - boone@gorg.es
        on_success: change
        on_failure: always


