parameters:
  level: 5

  phpVersion: 70400

  bootstrapFiles:
    - constants.php

  paths:
    - .

  excludePaths:
    - ./vendor/
    - ./node_modules/
    - ./tests/
    - ./Libraries/FiveFiltersReadability
    - ./Controllers/PF_JWT.php # Seems to have bugs in Firebase\JWT implementation.

  scanFiles:
    - ./Libraries/FiveFiltersReadability/Readability.php
    - ./Controllers/PF_JWT.php

  ignoreErrors:
    - # Template files have variables included in function scope.
      message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.$#'
      path: ./parts

    - # WP-defined constant.
      message: '#^Constant WPINC not found.$#'

    - # WordPress standard for array documentation.
      message: '#^PHPDoc tag @var above a (function|method) has no effect.$#'

    - # PHPStan is being overly strict.
      message: '#^Access to an undefined property.*$#'
      path: ./Libraries/PFOpenGraph.php

    - # Ignoring all PHPDoc-related issues in Jaxion.
      message: '#^PHPDoc tag.*$#'
      path: ./Libraries/Jaxion

    - # WP_Query can return ints in `posts`, but doesn't in this case.
      message: '#^Cannot access property \$[a-zA-Z0-9_]+ on int\|WP_Post\.$#'
      path: ./Core/API/StatsEndpoint.php

    - # Non-typed stdClass objects passed in an array aren't understood by PHPStan. Should be refactored.
      message: '#^Access to an undefined property object::\$[a-zA-Z]+\.$#'
      path: ./modules/opml-subscribe/opml-subscribe.php

    - # False positive about the $args param for cron jobs.
      message: '#^Parameter \#\d \$args of function (wp_clear_scheduled_hook|wp_next_scheduled|wp_schedule_event|wp_schedule_single_event|wp_unschedule_event) expects array<int, mixed>, array<string, string> given\.$#'
