parameters:
  level: 1
  bootstrapFiles:
    - constants.php
  paths:
    - .
  excludePaths:
    - ./vendor/
    - ./node_modules/
    - ./tests/
    - ./Libraries/php-jwt
    - ./Libraries/random_compat
    - ./Controllers/StatsShortcodes.php
  ignoreErrors:
    -
      message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.$#'
      path: ./parts
    -
      message: '#^Constant SITECOOKIEPATH not found.$#'
    -
      message: '#^Constant WPINC not found.$#'
