
.alert-box {
    margin-right: 14px;
    background: #f1f1f1;
}

.alert-box .hndle, .pf-opt-group .hndle {
    padding-left:10px;
    border-bottom: 1px solid #E7E7E7;
}

#tools .alert-box {
    word-wrap: break-word;
}
