.full #entries {
	width: 100%;
}

.pressforward .grid.full #entries article.feed-item {
	width: 23%;
	padding: 1.6% 2% 2% 2%;
}

.pressforward .grid.full #entries article.feed-item header {
	margin-bottom: 1em;
	overflow: visible;
}
