.item_title {
	margin-bottom: 3px;
	line-height: 16px;
    overflow:hidden;
}

.source_title {
	line-height: 1.5em;
    overflow:hidden;
}

.actions form {
	margin: 0;
}

.item-tags {
	text-align: left;
}

h3 {
	font-size: 18px;
	line-height: 19px;
	margin: 4px 0;
}


.feed-item {
	.item_meta {
		font-size: 10px;
		line-height: 11px;
		margin-bottom: 6px;
	}

	.item_excerpt {
		font-size: 12px;
		line-height: 16px;
		color: #494949;
		font-family: sans-serif;
		padding: 3px;
	    overflow:hidden;
	}
}
