
/* Ultra Large desktop */
@media (min-width: 1700px) {
	.pressforward .grid #entries article {
		width: 23%;
	}
	
	.pressforward .grid.full #entries article {
		width: 18%;
	}	
}

/* Large-ish desktop */
@media (min-width: 1100px) and (max-width: 1699px) {
	.pressforward .grid #entries article {
		width: 31%;
	}
	
	.pressforward .grid.full #entries article {
		width: 23%;
	}	
}
 
/* Portrait tablet to landscape and desktop */
@media all and (min-width: 888px) and (max-width: 1099px) { 
	.pressforward .grid #entries article {
		width: 48%;
	}

	.pressforward .grid.full #entries article {
		width: 31%;
	}
}
 
/* Landscape phone to portrait tablet */
@media all and (max-width: 887px) { 
	.pressforward .modal-sidebar {
		display: none;
	}
	.pressforward .grid #entries article {
		width: 100%;
	}	
	.pressforward .grid.full #entries article {
		width: 48%;
	}	
}
 
/* Landscape phones and down */
@media all and (max-width: 700px) { 
	.pressforward .grid #entries article {
		width: 100%;
	}	
	.pressforward .grid.full #entries article {
		width: 100%;
	}	
}