/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.pressforward .grid #entries article {
		width: 48%;
	}

	.pressforward .grid.full #entries article {
		width: 31%;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.pressforward .modal-sidebar {
		display: none;
	}
	.pressforward .grid #entries article {
		width: 100%;
	}	
	.pressforward .grid.full #entries article {
		width: 48%;
	}	
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
	.pressforward .grid #entries article {
		width: 100%;
	}	
	.pressforward .grid.full #entries article {
		width: 100%;
	}	
}