.pftab {
  display: none;
  padding-left: 8px;
  padding-top: 20px;
}

.pftab.active {
  display: block; }

.pressforward_page_pf-feeder .pftab {
  margin-top: 10px; }

.pressforward_page_pf-feeder .pftab h2 {
  display: none; }

.pf_container a.nav-tab {
	text-decoration: none;
}

.pf_container select {
	line-height: 30px;
}

.tabwrappper label select,
.tabwrappper label input {
	margin-right: 5px;
}

.tabwrappper label.label-left {
	display: inline-block;
	padding-right: 10px;
	width: 80px;
}

.promoted-item-settings select {
	margin-bottom: 10px;
}

.tabwrappper h3 {
	margin-top: 2em;
}

#responses {
  display: none;
  padding: 10px;
  margin: 12px; }

.wp-core-ui .button-primary {
  border-color: #0073aa; }

.pf-opt-group .inside a:not(.button-primary) {
  background-color: white;
  padding: 8px;
  border-radius: 10px; }

.close-x {
  color: #777;
  font: 16px/100% arial, sans-serif;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 2px 0 #fff;
  padding-top: 7px; }

.pftab legend {
	font-weight: 700;
}

