.pftab {
  display: none;
  padding-left: 8px;
  padding-top: 20px;
}

.pftab.active {
  display: block; }

.pressforward_page_pf-feeder .pftab {
  margin-top: 10px; }

.pressforward_page_pf-feeder .pftab h2 {
  display: none; }

.pf_container a.nav-tab {
	text-decoration: none;
}

.pf_container select {
	line-height: 30px;
}

.tabwrappper label select,
.tabwrappper label input {
	margin-right: 5px;
}

.tabwrappper label.label-left {
	display: inline-block;
	padding-right: 10px;
	width: 80px;
}

.promoted-item-settings select {
	margin-bottom: 10px;
}

.tabwrappper h3 {
	margin-top: 2em;
}

#responses {
  display: none;
  padding: 10px;
  margin: 12px; }

.wp-core-ui .button-primary {
  border-color: #0073aa; }

.pf-opt-group .inside a:not(.button-primary) {
  background-color: white;
  padding: 8px;
  border-radius: 10px; }

.close-x {
  color: #777;
  font: 16px/100% arial, sans-serif;
  display: inline-block;
  text-decoration: none;
  text-shadow: 0 2px 0 #fff;
  padding-top: 7px; }

.pftab legend {
	font-weight: 700;
}

.checkbox-description {
	color: #646970;
	font-style: italic;
}

.pf-source-statement-format-fields input[type="text"] {
	width: 300px;
}

.pf-welcome {
	max-width: 1400px;
}

.pf-welcome-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	gap: 50px;
}

.pf-welcome-header .pf-version {
	font-size: 1.2em;
	font-style: italic;
	text-align: right;
}

.pf-welcome h1.title {
	background-image: url(../images/icon.png);
	background-position: top 10px left 0;
	background-repeat: no-repeat;
	background-size: 64px 64px;
	font-size: 36px;
	height: 64px;
	line-height: 64px;
	padding-left: 80px;
}

.pf-welcome-intro {
	font-size: 1.2em;
	max-width: 1000px;
}
