.deck .card {

	background-color: #AFC459;
	border-color: #4C5B2C;
	border-radius: 10px;
	display:block;
    width: 100%;
    min-height: 80px;
	height: 100%;
    padding: 6px;

background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AFC459), to(#84924B));
background-image: -webkit-linear-gradient(left, #AFC459, #84924B);
background-image: -o-linear-gradient(left, #AFC459, #84924B);
background-image: linear-gradient(to right, #AFC459, #84924B);
background-image: -moz-linear-gradient(left, #AFC459, #84924B);
background-repeat: repeat-x;

border-color: #9FB351 #768341 #BFD662 #9FB351;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#AFC459', endColorstr='#768341', GradientType=1);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);	

}

.deck .card:hover {
	background-color: #84924B;
}

.deck .card:active {
	background-color: #9FB351;
}

.tapped {
	font-size: 13px;
	font-weight: bold;
	-webkit-transform: rotate(180deg);
	-webkit-writing-mode: vertical-rl;
	-moz-transform: rotate(180deg);
	-moz-writing-mode: vertical-rl;
	-o-transform: rotate(180deg);
	-o-writing-mode: vertical-rl;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-ms-transform: rotate(180deg);
	-ms-writing-mode: vertical-rl;	
	writing-mode: tb-rl;
	white-space: nowrap;
	line-height: 0;
	margin: 0 auto;
	padding-left: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.tapped:after
{
content:".";
display:block;
clear:both;
visibility:hidden;
}

.main-container {
	margin-top: 10px;
}

.accordion-toggle {
	color: black;
}

.feed-item {
	width: 99%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.accordion-heading {
	margin: 8px auto;
}

.toplevel_page_rsspf-menu #wpwrap {
	
    background-color: #ecf3f9;

}

#feed-accordion .well {
	padding: 0;
	background-color: #FAFAFA;
	/** Taking border from well in bootstrap **/
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin: 0;	
}

.source_title {
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}

h3 {
	font-size: 18px;
	line-height: 19px;
	margin: 4px 0;
}

.feed-item .feed-item-info-box {
	float: right;
	width: 30%; /**320px;**/
	font-size: 10px;
	line-height: 13px;
	padding: 8px!important;
	display: block;
	position: absolute;
	left: 65.3%; /**720px;**/	
	z-index: 1001;
}

.feed-item-info-box.leftarrow::after {
	top: 25px;
	left: -18px;
	bottom: auto;
	border-width: 10px 18px 10px 0;
	border-color: transparent #E3E3E3;
}
.feed-item-info-box::after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: whiteSmoke transparent;
	display: block;
	width: 0;
}

.feed-widget-container .well{
	padding: 0;
}

.rsspf-right-widget .widget-title{
	background-color: #F5EBBA;
	padding: 8px;
	border-bottom: 1px solid #CCBE8E
}

.rsspf-right-widget .widget-body {
	padding: 8px;
}