@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}


.deck .card {

	background-color: #AFC459;
	border-color: #4C5B2C;
	border-radius: 10px;
	display:block;
    width: 100%;
    min-height: 80px;
	height: 100%;
    padding: 6px;

background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AFC459), to(#84924B));
background-image: -webkit-linear-gradient(left, #AFC459, #84924B);
background-image: -o-linear-gradient(left, #AFC459, #84924B);
background-image: linear-gradient(to right, #AFC459, #84924B);
background-image: -moz-linear-gradient(left, #AFC459, #84924B);
background-repeat: repeat-x;

border-color: #9FB351 #768341 #BFD662 #9FB351;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#AFC459', endColorstr='#768341', GradientType=1);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);	

}

.deck .card:hover {
	background-color: #84924B;
}

.deck .card:active {
	background-color: #9FB351;
}

.tapped {
	font-size: 13px;
	font-weight: bold;
	-webkit-transform: rotate(180deg);
	-webkit-writing-mode: vertical-rl;
	-moz-transform: rotate(180deg);
	-moz-writing-mode: vertical-rl;
	-o-transform: rotate(180deg);
	-o-writing-mode: vertical-rl;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-ms-transform: rotate(180deg);
	-ms-writing-mode: vertical-rl;	
	writing-mode: tb-rl;
	white-space: nowrap;
	line-height: 0;
	margin: 0 auto;
	padding-left: 4px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.tapped:after
{
content:".";
display:block;
clear:both;
visibility:hidden;
}

.main-container {
	margin-top: 10px;
}

.accordion-toggle {
	color: black;
}

.feed-item, .nom-item {
	width: 99%;
	margin-top: 4px;
	margin-bottom: 4px;
}

.accordion-heading {
	margin: 8px auto;
}

.toplevel_page_pf-menu #wpwrap, .pressforward_page_pf-review #wpwrap {
	
    background-color: #ecf3f9;

}

#feed-accordion .well, #nom-accordion .well  {
	padding: 0;
	background-color: #FAFAFA;
	/** Taking border from well in bootstrap **/
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	margin: 0;	
}

.source_title {
	font-weight: bold;
	font-size: 13px;
	line-height: 15px;
}

h3 {
	font-size: 18px;
	line-height: 19px;
	margin: 4px 0;
}

.feed-item div.feed-item-info-box {
	float: right;
	margin-right: -327px!important;
	width: 310px;
	font-size: 10px;
	line-height: 13px;
	padding: 8px!important;
	display: block;
	position: relative;
	z-index: 1001;
}

.feed-item-info-box.leftarrow::after {
	top: 25px;
	left: -18px;
	bottom: auto;
	border-width: 10px 18px 10px 0;
	border-color: transparent #E3E3E3;
}
.feed-item-info-box::after {
	content: "";
	position: absolute;
	bottom: -15px;
	left: 50px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: whiteSmoke transparent;
	display: block;
	width: 0;
}

.feed-item .item_meta {
	font-size: 10px;
	line-height: 11px;
	margin-bottom: 6px;
}

.feed-item .item_excerpt {
	font-size: 12px;
	line-height: 16px;
	color: #494949;
	font-family: sans-serif;
	padding: 3px;
}

.feed-widget-container .well{
	padding: 0;
}

.pf-right-widget .widget-title {
	background-color: #F5EBBA;
	padding: 8px;
	border-bottom: 1px solid #CCBE8E
}

.pf-right-widget .widget-body {
	padding: 8px;
}

.post-control {
	position: fixed;
	right: 10px;
	padding: 10px;
}

.archived {
	opacity: .6;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

/* Susy Variables */
@media screen {
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  input[type=text] {
    padding: 2px 4px;
    height: auto;
  }

  input[type=checkbox] {
    margin-right: 5px;
    display: inline;
    vertical-align: top;
  }

  #app-banner {
    background: rgba(0, 0, 0, 0.025);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    *zoom: 1;
    padding: 20px 40px;
  }
  #app-banner * {
    margin: 0;
  }
  #app-banner .title {
    float: left;
  }
  #app-banner h1 {
    margin: 0;
    display: inline;
    font-size: 14px;
  }
  #app-banner h1:after {
    content: " · ";
    color: #999;
  }
  #app-banner h1,
  #app-banner .refresh {
    font-size: 14px;
    line-height: 1em;
    margin: 0;
  }
  #app-banner ul {
    float: right;
    text-align: right;
    display: inline;
  }
  #app-banner ul li {
    display: inline;
  }
  #app-banner form {
    float: right;
    display: inline;
    text-align: right;
  }
  #app-banner form * {
    display: inline;
  }
  #app-banner form label {
    display: none;
  }

  .display {
    overflow: hidden;
    *zoom: 1;
    width: 100%;
    display: block;
  }

  #tools {
    float: right;
    width: 25%;
    padding: 40px;
  }
  #tools h2 {
    font-size: 1.125em;
    line-height: 1.55556em;
  }
  #tools #settings {
    display: block;
    text-decoration: none;
    font-size: 1.125em;
    line-height: 1.55556em;
    font-weight: bold;
  }

  #entries {
    float: left;
    width: 75%;
    padding: 40px;
  }
  #entries .display {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 20px;
  }
  #entries footer {
    font-size: 87.5%;
    color: #999;
    font-weight: bold;
  }
  #entries article {
    font-size: 0.875em;
    line-height: 2em;
  }
  .grid #entries article {
    float: left;
    width: 30%;
    height: 300px;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px dotted #cccccc;
    padding: 2%;
    background: #fafafa;
  }
  .grid #entries article:hover {
    background: #fff;
  }
  .grid #entries article header {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 1.5em;
  }
  .grid #entries article header h1 {
    font-size: 1.125em;
    line-height: 1.55556em;
  }
  .grid #entries article.open {
    font-size: 1em;
    line-height: 1.75em;
    float: none;
    width: 100%;
    height: auto;
    margin-right: 0;
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 2em;
  }
  .grid #entries article.open h1 {
    font-size: 1.75em;
    line-height: 2em;
  }
  .grid #entries article.open .content {
    margin-bottom: 1.75em;
  }
  .list #entries article {
    border-bottom: 1px dotted #cccccc;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    *zoom: 1;
  }
  .list #entries article header {
    display: inline;
    float: left;
    width: 25%;
  }
  .list #entries article header h1 {
    font-size: 1em;
    line-height: 1.75em;
    margin-top: 0;
  }
  .list #entries article .content {
    display: inline;
    float: left;
    width: 50%;
    margin: 0 2%;
  }
  .list #entries article footer {
    display: inline;
    float: left;
    width: 20%;
  }
  .list #entries article.open {
    font-size: 1em;
    line-height: 1.75em;
  }
  .list #entries article.open header,
  .list #entries article.open .content,
  .list #entries article.open footer {
    display: block;
    float: none;
    width: auto;
    margin: 0;
  }
  .list #entries article.open header {
    margin-bottom: 1.5em;
  }
  .list #entries article.open h1 {
    font-size: 1.75em;
    line-height: 2em;
  }
}


/**
 * Specific override styles.
 *
 */
 
.wp-submenu ul {
  padding: 0;
  margin: 0;
}